*{
    /* min-height: 100vh; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: cornflowerblue;

    transition: background-color .5s ease-in;
}


body.game{
    background-color: coral;
}